<div class="row-fluid">
    <div class="span6">
        <p><em>Recent posts:</em></p>
        {% for post in site.posts limit:5%}
        <h4><a href='{{post.url}}'>{{ post.title }}</a> <br/><small>{{ post.date | date: "%B %d, %Y" }} under <a href="/blog/{{post.category}}">{{ post.category }}</a></small></h4>
        <hr/>
        {% endfor %}
        <div class="lead centered"><a href="/blog">Full blog archive</a></div>
    </div>
    <div class="span6">
        <p><em>Recent projects:</em></p>
    {% for project in site.pages  %}
    {% if project.url contains '/projects/' %}
    {% if project.title != 'Projects' %}
        <div>
            <p><b>{{ project.title }}</b> — 
            {{ project.descr }}</p>
            <p><br/>
                <a href="{{ project.github }}" class="btn btn-small"><img class="btn-img" src="/img/github.png"/> View on GitHub</a>
                <a href="/projects/{{ project.path }}" class="btn btn-small btn-info "> Go to this project</a>
            </p>
            <hr/>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
        <div>
            <h3>Dartlang Italia</h3>
            <p>Community italiana di supporto dedicata a Dart, il linguaggio di programmazione made in Google</p>
            <p> <a href="http://www.dartlang-italia.it" class="btn btn-success">Vai al sito</a> </p>
            <hr/>
        </div>

    </div>
</div>