<!-- sidebar-->
<div class="span2 sidebar">
<div class="row-fluid">
<div class="span3">
<img src="http://www.gravatar.com/avatar/4285cec724092baacfe84304ca99e7ff" alt="Avatar" id="avatar"/>
</div>
<div class="span8">
</div>

</div>

<p><b>Claudio &quot;Dawson&quot; d'Angelis </b>  </p>

<p>web and software developer</p>
<p><a href="/about">Read more</a></p>
<hr/>

<p><a href="https://twitter.com/daw___" class="twitter-follow-button" data-show-count="false">Follow @daw___</a></p>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<p><img alt="G+ Logo" src="/img/googleplus.png"/> <a href="/+">Google+</a></p>
<p><img alt="Github logo" src="/img/github.png"/> <a href="/github">GitHub</a></p>
<!--<p><img alt="Geekli.st logo" src="/img/geeklist.png"/> <a href="/gklst">Geekli.st</a></p>-->
<p><img alt="LinkedIn logo" src="/img/linkedin.png"/> <a href="http://www.linkedin.com/profile/view?id=208148414">LinkedIn</a></p>
<p><img alt="Rss logo" src="/img/rss.png"/> <a href="http://www.claudiodangelis.com/feed.xml">RSS Feed</a></p>

<hr/>

<div class="centered">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-2659172953949717";
/* sidebar */
google_ad_slot = "6401482488";
google_ad_width = 120;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script></div>


</div>


<!--end sidebar-->
