<p><img
    class="img-circle"
    src="http://www.gravatar.com/avatar/4285cec724092baacfe84304ca99e7ff?s=85"
    alt="avatar"
    id="avatar">
</p>
<p>
    <b>Claudio d'Angelis</b><br/>
    <em>Interested in computer programming and progressive rock<br/>
    <a href="/about">Read More</a></em>
</p>
<hr style="width:30%;margin-right:0"/>
<p>
    <!--<a href="/in">LinkedIn</a><br/>-->
    <a href="https://plus.google.com/+claudiodangelis?rel=author">Google+</a><br/>
    <!--<a href="https://alpha.app.net/claudiodangelis" rel="me">App.net</a><br/>-->
    <a href="/@/">Twitter</a><br/>
    <a href="/~">Github</a><br/>
    <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#99;&#108;&#97;&#117;&#100;&#105;&#111;&#100;&#97;&#110;&#103;&#101;&#108;&#105;&#115;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;'>&#69;&#109;&#97;&#105;&#108;</a><br/>
    <a href="https://www.gittip.com/claudiodangelis/">Gittip</a><br/>
    <a href="http://www.claudiodangelis.com/feed.xml">RSS</a><br/>
</p>
