<p>
    <a href="https://plus.google.com/+claudiodangelis?rel=author">Google+</a> <img class="favicon" src="//ssl.gstatic.com/s2/oz/images/faviconr3.ico"><br/>
    <a href="/@/">Twitter</a> <img class="favicon" src="//abs.twimg.com/favicons/favicon.ico"><br/>
    <a href="/~">Github</a> <img class="favicon" src="https://assets-cdn.github.com/favicon.ico" /><br/>
    <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#99;&#108;&#97;&#117;&#100;&#105;&#111;&#100;&#97;&#110;&#103;&#101;&#108;&#105;&#115;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;'>&#69;&#109;&#97;&#105;&#108;</a> <img class="favicon" src="https://mail.google.com/mail/u/0/images/favicon2.ico">
</p>

<p>
    <a href="https://speakerdeck.com/claudiodangelis">Speaker Deck</a> <img class="favicon" src="https://speakerdeck.com/favicon.ico"><br/>
    <a href="/in">LinkedIn</a> <img class="favicon" src="https://static.licdn.com/scds/common/u/images/logos/favicons/v1/favicon.ico" /><br/>
    <a href="skype:claudiodangelis?call">Skype</a> <img class="favicon" src="http://www.skypeassets.com/i/common/images/icons/favicon.ico"><br/>
    <a href="https://www.gittip.com/claudiodangelis/">Gittip</a> <img class="favicon" src="https://www.gittip.com/favicon.ico"><br/>
    <a href="http://www.claudiodangelis.com/feed.xml">RSS</a> <img class="favicon" src="/assets/img/rss.png"><br/>
</p>
