---
layout: default
title: Blog
---

<div class="row-fluid">
	<div >
		<div class="lead">Blog archive</div>
		{% for post in site.posts  %}
		<div class="blog_entry" id="article_content">
			<h2>{{ post.title }}<br/><small>{{ post.date | date: "%d %B %Y" }} <span style="color:black">in</span> {{ post.category }}</small></h2>
		{{ post.excerpt }}
			<div class="lead"><a href="{{ post.url }}">	{% if post.lang == 'en' %}
			Continue reading...
			{% endif %}
			{% if post.lang == 'it' %}
			Continua a leggere...
			{% endif %}
			</a>
			</div>
			<hr/>
		</div>
    	{% endfor %}
    	<hr/>
    </div>
</div>