body {
  margin: 0 auto;
  background: url("san-peter.webp") no-repeat;
  background-image: url("san-peter.png");
  background-repeat: no-repeat;
  background-position: right 32px;
  background-size: cover;
}


nav {
  color: #CCCCCC;
  top: 0;
  height: 41px;
  background-color: #111111;
  font-size:xx-large;
  padding: 5px 0 0 5px;
}

nav a {
  color: inherit;
  display: inline-block;
  position: fixed;
  text-decoration: none;
}


#main {
  background-color: rgba(0,0,0,0.5);
  margin-right: 10px;
}

#panel {
    text-decoration:none;
    color: white;
    position: absolute;
    visibility: hidden;
    left: 0;
    width: 66%;
    top: 0;
    bottom: 0;
    box-shadow: 0px 0px 15px black;
    background-color: rgba(0,0,0,0.9);
    padding: 10px;
    -webkit-transform-origin: 0%;
    -webkit-transform: scaleX(0.00001);
    -webkit-transition: -webkit-transform 0.1s ease-in-out;
    outline: 0;
}
#panel:target {
    -webkit-transform: scaleX(1);
    visibility: visible;
}