<!doctype html>
<html>
<head>
	<title>{{ page.title }} | Claudio Dawson d'Angelis Homepage</title>
<meta charset='utf-8'> 
<style type="text/css">
    body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
    .sidebar-nav {
      padding: 9px 0;
    }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/feed.xml" rel="alternate" title="ATOM" type="application/atom+xml" />
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-responsive.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/js/google-code-prettify/prettify.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet/less" type="text/css" href="/less/responsive.less">
<link rel="icon" type="image/png" href="/img/favicon.ico">
<script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31479865-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
      <script type="text/javascript">
(function() {
var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
po.src = 'https://apis.google.com/js/plusone.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
</script>
<script type="text/javascript">
(function() {
var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
po.src = 'https://apis.google.com/js/plusone.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
</script>
</head>
<body onload="init(); prettyPrint(); loadShareButtons() ">
  <div class="navbar navbar-fixed-top  navbar-inverse">
    <div class="navbar-inner ">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a style="margin-left:20px" class="brand" href="/"><img src="/img/cane.png" alt="cane" id="cane"/> claudiodangelis.com </a>
        <div class="nav-collapse">
          <ul class="nav">
            <li  id="blog-nav"><a href="/blog"><span class="badge badge-important"></span>&nbsp;blog</a></li>
            <li id="projects-nav" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="badge badge-info"></span>&nbsp;projects<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/projects">All projects</a></li>
                <li class="divider"></li>

                {% for project in site.pages %}
								{% if project.url contains '/projects' %}
                {% if project.title != 'Projects' %}
								<li><a href="/projects/{{ project.path }}">{{ project.title }}</a></li>
                {% endif %}
                {% endif %}
								{% endfor %}
              </ul>
            </li>
            <li><a href="/about"><span class="badge badge-success"></span>&nbsp;about me</a></li>
            <!-- Place this tag where you want the +1 button to render. -->
            <li style="margin-top:10px"><div class="g-plusone" data-size="tall" data-annotation="inline" data-width="300"></div></li>

            <!-- Place this tag after the last +1 button tag. -->
            <script type="text/javascript">
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="row-fluid">
      <div id="main_container" class="row-fluid">
        <div id="sidebar_background"></div>
{% include sidebar.html %}
        <div class="main_content">
          {% if page.title != 'Home Page' and page.title != 'Blog' and page.title != 'About me' and page.title != 'Projects'  %}
          <div id="article_content">
          <h1>{{ page.title }}<br/>
          <small>
          {{ page.date | date: "%d %B %Y" }}
          </small>
          </h1>
          {% endif %}
          {{ content }}
          {% if page.title != 'Home Page' and page.title != 'Blog' and page.title != 'About me' and page.title != 'Projects'  %}
          </div>
          {% endif %}
          {% if page.title != 'Home Page' and page.title != 'Blog' and page.title != 'About me' and page.title != 'Projects' %}
          <div class='container-fluid'>
            <div class="row-fluid">
              <div class="share_button">
                <!-- follow button -->
                <a href="https://twitter.com/daw___" class="twitter-follow-button" data-show-count="false">Follow @daw___</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                <!-- end follow button -->
                <div class="twitterbutton">
                  <a href="https://twitter.com/share" class="twitter-share-button" data-via="daw___" data-lang="en" >Tweet</a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
                <div class="g-plusone" data-annotation="inline" data-width="300"></div>
                <script type="text/javascript">(function() {
                  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                  po.src = 'https://apis.google.com/js/plusone.js';
                  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
              </script>
            </div>
            <p>&nbsp;</p>
              </div>
              {% include disqus.html %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="container-fluid centered">
  <hr/>
  &copy; 2007-2013 This is the homepage of <a href="/about">Claudio &quot;Dawson&quot; d'Angelis</a>, all of the stuff you find on this website is licensed under <a rel="license" href="http://www.apache.org/licenses/LICENSE-2.0">Apache License V2.</a> (code) and <a href="http://creativecommons.org/licenses/by/3.0/legalcode">CC BY-SA 3.0 License</a> (blog posts).
  <br/>
  <b>credits</b>: improved UX through <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> and <a href="http://http://jquery.com/">jQuery</a> frameworks, code snippets are parsed with <a href="http://code.google.com/p/google-code-prettify/">Google Code Prettify</a>, all logos and trademarks in this site are <strong>property of their respective owners</strong>.
  <br/>
  This site is built with <a href="https://github.com/mojombo/jekyll">Jekyll</a> and it is <b>open source</b>, just like all softwares should be. Source code at <a href="https://github.com/claudiodangelis/claudiodangelis">GitHub</a>.<br/>
  If you see something wrong or have a suggestion, feel free to file an <a href="https://github.com/claudiodangelis/claudiodangelis/issues">issue</a>.
</footer>
  <script>
    (function(d, t) {
        var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        g.src = '//hnbutton.appspot.com/static/hn.js';
        s.parentNode.insertBefore(g, s);
    }(document, 'script'));
</script>
</body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/google-code-prettify/prettify.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/fn.js"></script>
<script type="text/javascript" src="/js/less-1.3.1.min.js"></script>
</html>